@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.api-method {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.method-get { background-color: #28a745; color: white; }
.method-post { background-color: #ffc107; color: black; }
.method-put { background-color: #17a2b8; color: white; }
.method-delete { background-color: #dc3545; color: white; }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

#test

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
